table{
    border-collapse: collapse;
    width: 400px; 
    height: 40px;
}
.c1{
    background-color: blue;
    
}
.c2{
    background-color: yellow;
}
.c3{
    background-color: green;
}
.c4{
    background-color: black;
}
.c5{
    background-color: red;
}